@{
    ViewBag.Title = "Visual Sports";
}

<div class="jumbotron">
    <h1>League</h1>
    <p class="lead">View the teams of the Premier League</p>
    <p><a href="~/Views/League/Index.cshtml" class="btn btn-primary btn-lg">League &raquo;</a></p>
</div>

<div class="jumbotron">
    <h1>Team</h1>
    <p class="lead">View the players of your favourite Premier League team</p>
    <p><a href="~/Views/League/Index.cshtml" class="btn btn-primary btn-lg">League &raquo;</a></p>
</div>

<div class="jumbotron">
    <h1>Player</h1>
    <p class="lead">View the players of a specific Premier League team</p>
    <p><a href="~/Views/League/Index.cshtml" class="btn btn-primary btn-lg">League &raquo;</a></p>
</div>
