@model Project4thYear.Models.Data2

@{
    ViewBag.Title = "";
}

<h2></h2>

<form action="" method="post" enctype="multipart/form-data">
    <fieldset>
        <legend>Upload Team Data</legend>
        @*<label for="file">Filename:</label>
            <input type="file" name="file" id="file" />*@
        <input type="file" name="FileUpload" />
        <br />
        <input type="submit" name="Submit" id="Submit" value="Upload to Database" />

        <h5>Remember to change the DestinationTableName in HomeController for League, Team and Player respectively</h5>

        @*<input type="submit" />*@

    </fieldset>
</form>
